/* stg:n0PeTXZngqmgZgeEmKLZtOzJKOHnNwDcRnH1h9d2V3WiZibkNSlio91g/FMUVu9PM936tm6VCd2QPi7zpXAuB12+S+DlrvATHCz1reHqJ43JGH18YyKPU/YQ7MqKU3esr6lXCccNfsE7ba9oqYBX1A== */
.header_background_chapter1{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter1{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter1{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter1{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter1{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter2{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter2{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter2{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter2{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter2{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter3{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter3{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter3{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter3{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter3{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter4{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter4{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter4{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter4{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter4{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter5{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter5{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter5{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter5{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter5{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter6{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter6{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter6{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter6{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter6{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter7{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter7{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter7{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter7{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter7{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter8{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter8{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter8{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter8{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter8{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter10{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter10{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter10{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter10{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter10{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter9{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter9{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter9{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter9{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter9{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter11{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter11{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter11{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter11{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter11{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter13{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter13{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter13{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter13{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter13{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter12{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter12{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter12{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter12{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter12{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_background_chapter14{
  padding-top:1px;
  padding-bottom:1px;
  margin-top:21px;
  text-align:center;
}
.paragraph_content_chapter14{
  margin-top:1em;
  margin-bottom:1em;
  text-align:left;
  text-indent:10%;
  font-size:1em;
}
.header_image_chapter14{
  margin-top:0em;
  margin-bottom:0em;
}
.header_text_chapter14{
  color:#000000;
  font-size:2.2em;
  font-weight:bold;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
.header_name_chapter14{
  color:#000000;
  font-size:1.8em;
  font-weight:normal;
  margin-top:0em;
  margin-bottom:0em;
  text-align:center;
}
p.AlignLeft {
}
p.AlignCenter {
  text-indent: 0;
  text-align: center;
}
p.AlignRight {
  text-indent: 0;
  text-align: right;
}
p.AlignJustify {
  text-indent: 0;
  text-align: justify;
}
img {
  text-indent: 0;
}
figure.table {
  display: table;
  margin: 0.9em auto;
}
figure.table table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}
figure.table table th, figure.table table td {
  border: 1px solid;
}
figure.table figcaption {
  display: table-caption;
  caption-side: top;
  text-align: center;
  word-break: break-word;
}
